<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fragment</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <div th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href = "#">Tutorial APAP 6</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls = "navbarSupportedContent" aria-expanded = "false"
                aria-label = "Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/student/viewall">Daftar Mahasiswa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/student/add">Menambah Mahasiswa</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2"
                        type="text"
                        placeholder="Search"
                        aria-label = "Search" />
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </nav>
            <div th:switch="${#httpServletRequest.requestURI}">
                <center th:case="'/'">Welcome to Tutorial 6 APAP!</center>
                <center th:case="'/student/viewall'">Daftar Mahasiswa</center>
                <center th:case="'/student/add'">Menambah Mahasiswa</center>
            </div>
            <center th:if="${#httpServletRequest.requestURI.contains('/student/update')}" th:text="'Memperbarui Data Mahasiswa NPM ' + ${student.npm}">Memperbarui Data Mahasiswa</center>
            <center th:if="${#httpServletRequest.requestURI.contains('/student/view')}" th:text="'Data Mahasiswa NPM ' + ${student.npm}">Memperbarui Data Mahasiswa</center>
            <center th:if="${#httpServletRequest.requestURI.contains('/student/delete')}" th:text="'Menghapus Mahasiswa NPM ' + ${student.npm}">Menghapus Mahasiswa</center>
            <center th:if="${#httpServletRequest.requestURI.contains('/student/add/submit')}">Menambah Mahasiswa ini</center>
            <center th:if="${#httpServletRequest.requestURI.contains('/course/view')}" th:text="'Detail Mata Kuliah ' + ${course.idCourse}">Detail Mata Kuliah</center>
        </div>
        <div th:fragment="footer">
            <hr/>
            <h4>Mata Kuliah APAP</h4>
        </div>
    </body>
</html>